<div class="panel panel-default">
    <div class="panel-heading">
        <div class="contentName">
        	  <h4>Inserir habilidade extra</h4>
  		 </div>
         <div class="contentButton">         
            <%= button_to "Ver perfil professional", [@professional_profile.user,@professional_profile], :class => "btn btn-default", :method => :get %>
        </div>
    </div>
    <div class="row">
      <ul class="col-sm-12 info-group">
          <li class='info-group-item'>
			    <%= render 'form' %>  
      </ul>
    </div>  
</div>