<div class="panel panel-default">
    <div class="panel-heading">
        <div class="contentName">
            <h4>Habilidade Extra</h4>
       </div>
         <div class="contentButton">         
            <%= button_to "Ver perfil professional", [@professional_profile.user,@professional_profile], :class => "btn btn-default", :method => :get %>
        </div>
    </div>
    <div class="row">
      <ul class="col-sm-12 info-group">
          <li class='info-group-item'>
            <label>Nome:</label>
              <%= @extra_skill.name %>
          </li>
          <li class='info-group-item'>
            <label>Nivel:</label>
              <%= skill_level(@extra_skill.level) %>
          </li>
      </ul>
    </div>  
</div>