<div class="panel panel-default">
    <div class="panel-heading">
        <div class="contentName">
        	<h4>Editar informações acadêmicas</h4>
  		 </div>
         <div class="contentButton">         
            <%= button_to "Ver perfil acadêmico", [@academic_information.user,@academic_information], :class => "btn btn-default", :method => :get %>
        </div>
    </div>
    <div class="row">
      <ul class="col-sm-12 info-group">
          <li class='info-group-item'>
			    <%= render 'form' %>  
      </ul>
    </div>
    
</div>